
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
h1{
    color: rgb(46, 46, 148);
    font-size: 80px;
    font-family: Celestina;
  position: absolute;
  top: -30px;
  left: 555px;
}
.food{
   position: absolute;
   left: 20px;
   top: 250px;
}
.line{
    color: black;
   position: absolute; 
   top: 130px;
   left: 280px;
   
}
.line-1{
  position:relative;
  z-index: auto;
    top: 400px;
}
h2{
    font-family: Celestina;
    color: beige;
    font-size: 30px;
    position: absolute;
    left: 465px;
    top: 370px;
    text-align: center;
}
h3{
    font-family:monserrat bold ;
    font-size: 60px;
    color: #a5b6c5;
    position: absolute;
    left: 350px;
    top: 360px;
    
}
h4{
    text-align: center;
    font-size: 14px;
    color: antiquewhite;
    position: absolute;
    top: 480px;
    left: 370px;
}
.text5{
   color: #dcf2f3;
    font-size: 24px;
    font-family: Montserrat ExtraBold;
    position: relative;
left: 535px;
top: -320px;
}
.text6{
    word-spacing: 5px;
   color: #e7f3f7;
    font-size: 15px;
    font-family: Montserrat ExtraBold;
    position: relative;
    z-index: 1;
left: 593px;
top: -305px;
}
.text7{
    word-spacing: 5px;
    color: #ecf3f5;
     font-size: 23px;
     font-family: holtwood one sc;
     position: relative;
     z-index: 1;
 left: 545px;
 top: -318px;
}
.menu3{
    word-spacing: 130px;
    font-size: 20px;
    color: black;
    position: absolute;
    left: 340px;
    top:140px ;
    font-family: Celestina;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.orderr{
    font-family: Montserrat ExtraBold;
display: inline-block;
padding: 20px 50px;
background-color: #2e3957;
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 5px;
font-size: 17px;
transition: background-color 0.10 ease;
position: relative;
left: 570px;
top: 220px;
z-index: auto; 
}
.orderr:hover{
    background-color: #a5b6c5;
  }
.order{
    font-family: holtwood one sc;
display: inline-block;
padding: 20px 50px;
background-color: #2e3957;
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 5px;
font-size: 16px;
transition: background-color 0.10 ease;
position: relative;
left: 550px;
top: 220px;
z-index: auto;
  }
  .order:hover{
    background-color: #a5b6c5;
  }
    .page2{
color: black;
      }
     .order2{
        font-family: monserrat bold;
display: inline-block;
padding: 5px 10px;
background-color: rgb(46, 57, 87);
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 5px;
font-size: 10px;
transition: background-color 0.10 ease;
position: relative;
left: 33px;
top: 13px;
z-index: auto;
     }
.order2:hover{
    background-color: #a5b6c5;
         }
     
     .order3{
        font-family: monserrat bold;
        display: inline-block;
        padding: 5px 16px;
        background-color: rgb(46, 57, 87);
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 5px;
        font-size: 10px;
        transition: background-color 0.10 ease;
        position: relative;
        left: 209px;
        top: -12px;
        z-index: auto;
     }
     .order3:hover{
background-color: #a5b6c5;
     }
     .order4{
        word-spacing: 2px;
        font-family: monserrat bold;
        display: inline-block;
        padding: 5px 16px;
        background-color: rgb(46, 57, 87);
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 5px;
        font-size: 10px;
        transition: background-color 0.10 ease;
        position: relative;
        left: 391px;
        top: -40px;
        z-index: auto;
     }
     .order4:hover{
        background-color: #a5b6c5;
             }
     .order5{
        font-family: monserrat bold;
        display: inline-block;
        padding: 5px 6px;
        background-color: #2e3957;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 5px;
        font-size: 10px;
        transition: background-color 0.10 ease;
        position: relative;
        left: 557px;
        top: -66px;
        z-index: auto;
     }
     .order5:hover{
        background-color: #a5b6c5;
             }
             .order7{
                font-family:  Montserrat ExtraBold;
                display: inline-block;
                padding: 16px 26px;
                background-color: #67d5e9;
                color: rgb(211, 0, 0);
                text-decoration: none;
                border-radius: 5px;
                font-size: 15px;
                transition: background-color 0.10 ease;
                position: relative;
                left: 592px;
                top: -400px;
                z-index: auto;
             }
             .order7:hover{
                background-color: #99d6e0;
                     }
.fish1{
position: relative;
z-index: -1;
left: 260px;
top:147px;

}
.fish2{
    position: relative;
    z-index: -1;
    left: 830px;
    top:-60px;
}
.line-2{
    position: relative;
    top: -410px;
    color: #47adad;
    z-index: 0;
}
.breakf{
    position: relative;
    left: 120px;
    top:-260px;
    transition: 2s;
}
.breakf:hover{
    transform: scale(0.9);
}
.dinner{
    position: relative;
    left: 435px;
    top:-1280px;
    transition: 2s;
}
.dinner:hover{
    transform: scale(0.9);
}

.lunch{
    position: relative;
    left: 735px;
    top:-1497px;
    transition: 2s;
}
.lunch:hover{
    transform: scale(0.9);
}
.desert{
    position: relative;
    left: 1055px;
    top:-1715px;
    transition: 2s;
}
.desert:hover{
    transform: scale(0.9);
}

.text8{
font-family: spectral;
font-size: 22px;
position: relative;
left: 160px;
top: -1035px;
}
.text9{
    font-family: spectral;
    font-size: 22px;
    position: relative;
left: 490px;
top: -1243px;
}
.text10{
    font-family: spectral;
    font-size: 22px;
    position: relative;
left: 790px;
top: -1460px;
}
.text11{
font-family: spectral;
font-size: 22px;
position: relative;
left:1100px;
top: -1674px;
}
.text12{
    text-align: center;
    font-family: Montserrat ExtraBold;
    color: aliceblue;
    font-size: 25px;
    position: relative;
    z-index: 1;
    top: -2050px;
}
.banner{
    position: relative;
    z-index: -1;
top: -1565px;
}
.bron{
    position: relative;
    z-index: 10;
    top: -1230px;
    left: 290px;
}
.line-4{
    position: relative;
    z-index: -4;
    top: -905px;
    left: -520px;
}
.text13{
    color: #000000;
    font-size: 25px;
    position: relative;
    z-index: 2;
    font-family: spectral;
    top: -2560px;
    left: 745px;
}
.line-5{
    position: relative;
    top: -2265px;
    left: -300px;
    color: #4f7e7e;
}
.text14{
    color: aliceblue;
    font-family: Montserrat ExtraBold;
    font-size: 22px;
    position: relative;
    z-index: 1;
    left: 456px;
    top: -2440PX;
}
.downl{
    font-family: montserrat bold;
                display: inline-block;
                padding: 16px 26px;
                background-color: #3d5c61;
                color: rgb(255, 255, 255);
                text-decoration: none;
                border-radius: 5px;
                font-size: 23px;
                transition: background-color 0.10 ease;
                position: relative;
                left: 580px;
                top: -2410PX;
                z-index: auto;
}
.downl:hover{
    background-color: #374a4d;
         }
         .bel{
            z-index: -1;
            position: relative;
            top: -2943px;
            left: 650px;
         }
         .stol{
            position: relative;
            top: -2000px;
            left: 300px;
         }
         .container{
            max-width: 1200px;
            padding: 0 15px;
            margin: 0 auto;
         }
         .text-field{
            
            border-right: none;
            border-left: none;
            border-top: none;
            width: 10%;
            outline: none;
            border-bottom: 1px solid #eee;
            font-size: 14px;
            color: #9a9a9a;
            padding-left: 10px;
            height: 40px;
            position: relative;
            top: -3190px;
            left: 670px;
            
         }
         .text-field2{
            border-right: none;
    border-left: none;
    border-top: none;
    width: 10%;
    outline: none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #9a9a9a;
    padding-left: 10px;
    height: 40px;
            position: relative;
            top: -3190px;
            left: 680px;
         }
         .text-field3{
            border-right: none;
            border-left: none;
            border-top: none;
            width: 10%;
            outline: none;
            border-bottom: 1px solid #eee;
            font-size: 14px;
            color: #9a9a9a;
            padding-left: 10px;
            height: 40px;
            position: relative;
            top: -3130px;
            left: 370px;
            
            }
            .text-field4{
                border-right: none;
                border-left: none;
                border-top: none;
                width: 10%;
                outline: none;
                border-bottom: 1px solid #eee;
                font-size: 14px;
                color: #9a9a9a;
                padding-left: 10px;
                height: 40px;
                position: relative;
            top: -3130px;
            left: 380px;
                }
                .text-field5{
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    width: 10%;
                    outline: none;
                    border-bottom: 1px solid #eee;
                    font-size: 14px;
                    color: #9a9a9a;
                    padding-left: 10px;
                    height: 40px;
                    position: relative;
                    top: -3070px;
                    left: 71px;
                    }
                    .order8{
                        font-family:Montserrat ExtraBold;
                        display: inline-block;
                        padding: 13px 6px;
                        background-color: #2e3957;
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                        border-radius: 5px;
                        font-size: 12px;
                        transition: background-color 0.10 ease;
                        position: relative;
                        left: 830px;
                        top: -3020px;
                        z-index: auto;
                     }
                     .order8:hover{
                        background-color: #a5b1bd;
                             }
         
                             
.text15{
    font-size: 31px;
    position: relative;
    top: -2700px;
    left: 565px;
    font-family: Montserrat ExtraBold;
}
.line-6{
position: relative;
top: -2700px;
left: -400px;
}
.line-7{
 position: relative;
top: -3137px;
left: 10px;
}
.line-8{
 position: relative;
 top: -3575px;
 left: 420px;
}
.zavtrak{
    position: relative;
    top: -3925px;
    left: 123px;
}
.obed{
    position: relative;
    top: -4094px;
    left: 537px;
}
.uzhin{
    position: relative;
    top: -4261px;
    left: 946px;
}
.text18{
font-family: spectral;
font-size: 29px;
position: relative;
top: -4500px;
left: 120px;
}
.text16{
    font-family: spectral;
    font-size: 29px;
    position: relative;
    top: -4545px;
    left: 540px;
}
.text17{
    font-family: spectral;
    font-size: 29px;
    position: relative;
    top: -4590px;
    left: 945px;
}
.line-9{
position: relative;
top: -4590px;
left: -406px;
}
.line-10{
    position: relative;
    top: -4600px;
    left: 9px;
}
.line-11{
    position: relative;
    top: -4608px;
    left: 417px;
}
.line-12{
position: relative;
top: -4440px;
left: -403px;
}
.line-13{
    position: relative;
    top: -4570px;
    left: 10px;
}
.line-14{
    position: relative;
    top: -4709px;
    left: 420px;
}
.circle{
    background: #e3e7f1;
    clip-path: circle(50%);
    height: 12.5em;
    width: 12.5em;
    position: relative;
    z-index: -1;
    top: -454px;
    left: 110px;
}
.circle-1{
    background: #e3e7f1;
    clip-path: circle(50%);
    height: 12.5em;
    width: 12.5em;
    position: relative;
    top: -655px;
    left: 425px;
}
.circle-2{
    background: #e3e7f1;
    clip-path: circle(50%);
    height: 12.5em;
    width: 12.5em;
    position: relative;
    top: -855px;
    left: 725px;
   
}
.circle-3{
    background: #e3e7f1;
    clip-path: circle(50%);
    height: 12.5em;
    width: 12.5em;
    position: relative;
    left: 1045px;
    top: -1056px;
}
.line-15{
    position: relative;
    z-index: 1;
    top: -4894px;
    left: -300px;
}
.line-16{
    position: relative;
    top: -4934px;
    left: 114px;
}
.line-17{
    position: relative;
    top: -4982px;
    left: 523px;
}
.text21{
    position: relative;
    z-index: 1;
    top: -5029px;
    left: 340px;
    font-size: 20px;
color: #f2745f;
}
.text19{
position: relative;
z-index: 1;
top: -5046px;
left: 749px;
font-size: 20px;
color: #f2745f;
}
.text20{
    position: relative;
z-index: 1;
top: -5068px;
left: 1160px;
font-size: 20px;
color: #f2745f;
}
.text24{
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
font-family: spectral;
color: #121212;
position: relative;
top: -5054px;
left: -404px;
}
.text22{
    font-weight: lighter;
    text-align: center;
    font-size: 17px;
font-family: spectral;
color: #121212;
position: relative;
top: -5075px;
left: 7px;
}
.text23{
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
font-family: spectral;
color: #121212;
position: relative;
top: -5100px;
left: 420px;
}
.text25{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 13px;
color: #9a9a9a;
position: relative;
top: -5100px;
left: 141px;
}
.text26{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 13px;
color: #9a9a9a;
position: relative;
top: -5150px;
left: 550px;
}
.text27{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #9a9a9a;
    position: relative;
    top: -5226px;
    left: 960px;
}
.line-18{
    position: relative;
    top: -5070px;
}
.text28{
    text-align: center;
    font-family: montserrat ExtraBold;
    font-size: 22px;
    position: relative;
    top: -5940px;
}
.line-19{
    position: relative;
    top: -5872px;
    left: -152px;
}
.line-20{
    position: relative;
    top: -6125px;
    left: 436px;
}
.line-21{
    position: relative;
    top: -6100px;
    left: -153px;
}
.line-22{
    position: relative;
    top: -6353px;
    left: 437px;
}
.rari{
position: relative;
top: -6884px;
left: 96px;
}
.piano{
    position: relative;
    top: -7135px;
    left: 686px;
}
.shishka{
    position: relative;
    top: -7109px;
    left: 96px;
}
.chetver{
    position: relative;
    top: -7358px;
    left: 685px;
}
.line-23{
position: relative;
top: -7895px;
left: -517px;
}
.line-24{
    position: relative;
top: -7939px;
left: 73px;
}
.line-25{
    position: relative;
top: -7706px;
left: -517px;
}
.line-26{
    position: relative;
top: -7748px;
left: 72px;
}
.signup{
    position: relative;
    top: -7438px;
    left: -72px;
}
.line-27{
    position: relative;
    top: -7451px;
}
.text29{
    font-size: 17px;
    color: #f2745f;
    font-family: roboto;
    position: relative;
    top: -8220px;
    left: 694px;
}
.text30{
    font-size: 17px;
    color: #f2745f;
    font-family: roboto;
    position: relative;
    top: -8242px;
    left: 104px;
}
.text31{
    font-size: 17px;
    color: #f2745f;
    font-family: roboto;
    position: relative;
    top: -8540px;
    left: 690px;
}
.text32{
    font-size: 17px;
    color: #f2745f;
    font-family: roboto;
    position: relative;
    top: -8559px;
    left: 104px;
}
.text33{
    font-weight: lighter;
    text-align: center;
    font-size: 21px;
    font-family: spectral;
    color: #121212;
position: relative;
top: -8270px;
left: 395px;

}
.text34{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #9a9a9a;
    position: relative;
top: -8240px;
left: 980px;
line-height: 26px;
}
.text35{
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    font-family: spectral;
    color: #121212;
position: relative;
top: -8405px;
left: -156px;
}
.text36{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #9a9a9a;
    position: relative;
top: -8374px;
left: 380px;
line-height: 26px;
}
.text37{
    font-weight: lighter;
    text-align: center;
    font-size: 21px;
    font-family: spectral;
    color: #121212;
position: relative;
top: -8820px;
left: 430px;
}
.text38{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #9a9a9a;
    position: relative;
top: -8810px;
left: 990px;
line-height: 26px;
}
.text39{
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    font-family: spectral;
    color: #121212;
position: relative;
top: -8985px;
left: -156px;
}
.text40{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #9a9a9a;
    position: relative;
top: -8960px;
left: 390px;
line-height: 26px;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media a{
    margin: 0 10px;
}
.social-media img{
    left: 480px;
    position: relative;
    bottom: 8185px;
    width: 42px;
    height: 42px;
    transition: 0.3s;

}
.social-media a:hover img{
    transform: scale(1.2);
}
.text41{
    color: #ffffff;
    
    left: 120px;
    font-family: montserrat ExtraBold;
    font-size: 20px;
    position: relative;
    z-index: 1;
    bottom: 8450px;
}
.form-control{
    width: 300px;
    padding: 8px 20px;
    border: 1px solid #ccc;
    color: #555;
background-color: #ccc;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    position: relative;
    bottom: 8390px;
    right: 410px;
}
.order-15{
    text-align: center;
    font-family: monserrat bold;
    display: inline-block;
    padding: 5px 6px;
    background-color: #2e3957;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.10 ease;
    position: relative;
    bottom: 8389px;
    right: 380px;

 }
 .order-15:hover{
    background-color: #a5b6c5;
 }
